/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #123456;
  border-radius: 8px;
  padding: 30px 50px;
  box-shadow: 3px 3px 3px #123456;
  width: 400px;
}

.container div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #123456;
}

div p {
  color: #11550099;
}

p span {
  font-weight: bold;
  color: #123456;
}

button {
  padding: 2px 4px;
  margin: 2px 5px;
  font-size: 16px;
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
  color: #f0f0f0;
  background-color: #123456;
  border-radius: 4px;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

input {
    border: 1px #123456 solid;
    border-radius: 4px;
    padding: 3px;
}
