/* BmiCalculator.css */
.container {
  max-width: 600px;
  min-height: 350px;
  margin: 10% auto;
  padding: 20px;
  background-color: #dfdcdc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: #333;
  margin: 0;
}

h2 {
  color: #123456;
  font-size: 16px;
  margin-top: 10px;
}

.input-group {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-group label {
  font-size: 20px;
  color: #555;
}

.input-group input {
  padding: 8px 10px;
  border: 1px solid #d6d3d3;
  border-radius: 5px;
  font-size: 16px;
  width: calc(70% - 22px);
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 15px auto;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  background-color: #0056b3;
}

.result {
  color: #333;
  font-size: 20px;
}
