* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  justify-content: center;
  background-color: #333131;
  margin: 5% 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: 1px solid #979292;
  border-radius: 10px;
  background-color: #123456;
  box-shadow: 5px 5px 3px #123456;
}

.header {
  text-align: center;
  margin: 30px;
}

.header h1 {
  color: #f0f0f0;
  margin-bottom: 10px;
}

.header h2 {
  font-weight: normal;
  font-size: 20px;
  color: #979292;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  background-color: ghostwhite;
  gap: 10px;
  color: #123456;
  margin: 15px 10px;
}

.display p,
.display h3 {
  font-size: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 15px;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container label {
  font-size: 20px;
  color: #979292;
}

.container input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  color: #123456;
  font-size: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 20px;
}

.btn-reset,
.btn-calc {
  color: #f0f0f0;
  background-color: #979292;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 200ms ease-in-out;
}

.btn-calc {
  background-color: #f0f0f0;
  color: #123456;
}

.btn-calc:hover,
.btn-reset:hover {
  opacity: 1;
}
